[submodule "stokse-server"]
	path = stokse-server
	url = git@github.com:malikhamza-v/stokse-server.git
[submodule "stokse-client"]
	path = stokse-client
	url = git@github.com:malikhamza-v/stokse-client.git
