[submodule "pos-victory"]
	path = pos-victory
	url = git@github.com:malikhamza-v/pos-victory.git
[submodule "stokse-server"]
	path = stokse-server
	url = git@github.com:malikhamza-v/stokse-server.git
